$white_1: white;
//$purple_1: rgb(212, 97, 212);
$purple_1: rgb(216, 109, 22);
$gray_1: rgb(214, 212, 212);
//$blue_1: rgb(77, 71, 104);
$blue_1: rgb(245, 40, 3);
$salad_green_1: rgb(0, 230, 0);
$black_1: black;
$gray_2: gray;
$gray_3: darkgray;