//@import "reset";
@import "variables";
@import "fonts";

* {
  font-family: "Gideon Roman", normal !important;
}
html {
  font-size: 18px;
  background-image: url("../images/beige-paper.png");
}
section {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: $blue_1;
}
h1 {
  color: $white_1;
  text-shadow: -1px -1px 5px $salad_green_1, 1px -1px 5px $salad_green_1,
    -1px 1px 5px $salad_green_1, 1px 1px 5px $salad_green_1;
}
header {
  //height: 375px;
  height: 250px;
  border-radius: 5px;
  background-image: url("../images/colorful-spring-flowers-sunset-nature-landscape-web-header.jpg");
  background-size: cover;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  color: $white_1;
  a {
    color: $white_1;
    text-shadow: -1px -1px 5px $salad_green_1, 1px -1px 5px $salad_green_1,
      -1px 1px 5px $salad_green_1, 1px 1px 5px $salad_green_1;
    font-size: 20px;
    text-transform: none;
  }
  h1 {
    a {
      color: $white_1;
      text-shadow: -1px -1px 5px $salad_green_1, 1px -1px 5px $salad_green_1,
        -1px 1px 5px $salad_green_1, 1px 1px 5px $salad_green_1;
      text-transform: none;
      font-size: 60px;
    }
  }
}
.footer {
  height: 150px;
  border-radius: 5px;
  background-color: $purple_1; /* For browsers that do not support gradients */
  background-image: linear-gradient(180deg, $purple_1, rgb(41, 40, 40));
}
.mainsection {
  border-radius: 5px;
  position: relative;
  top: -60px;
  background-color: $white_1;
  padding: 30px;
  margin: 30px;
}
.posts {
  background-color: $gray_1;
  border-color: $gray_2;
  border-style: double;
}
.mainbody {
  border-radius: 5px;
  background-color: $gray_2;
  max-width: 1290px;
  margin: 0 auto;
  //z-index: 10;
  //position: absolute;
}
.navlist {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  & li {
    margin: auto 10px;
  }
}
.login {
  border: 1px;
  border-style: dotted;
  border-color: $black_1;
  text-align: center;
}
.categories_name {
  display: flex;
  justify-content: center;
  border-style: double;
  border-color: $gray_3;
}
.subcat {
  &__item {
    font-size: 15px;
    color: $black_1;
    font-style: bold;
  }
}
.post {
  &__item {
    font-size: 25px;
    color: $black_1;
    font-style: bold;
  }
}
