$white_1: white;
$purple_1: rgb(212, 97, 212);


.header {
  height: 375px;
  border-radius: 20px;
  background-image: url("../images/autumn-mountains-sky-nature-landscape-website-header.jpg");
  background-size: cover;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  color: $white_1;
 // margin: 2px;
}
.footer{
    height: 300px;
    border-radius: 20px;
    background-color: $purple_1; /* For browsers that do not support gradients */
    background-image: linear-gradient(180deg, $purple_1, rgb(41, 40, 40));    
}
.mainsection{
    border-radius: 20px;
    position: relative;
    top: -60px;
    background-color: $white_1;
    padding:30px;
    margin: 30px;
}
html {
  font-size: 18px;
  background-image: url("../images/beige-paper.png");
}
