//@import '_reset.scss';

$white_1: white;
$purple_1: rgb(212, 97, 212);
$gray_1: rgb(214, 212, 212);
$blue_1: rgb(77, 71, 104);

.header {
  height: 375px;
  border-radius: 20px;
  background-image: url("../images/colorful-spring-flowers-sunset-nature-landscape-web-header.jpg");
  background-size: cover;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  color: $white_1;
 // margin: 2px;
}
.footer{
    height: 300px;
    border-radius: 20px;
    background-color: $purple_1; /* For browsers that do not support gradients */
    background-image: linear-gradient(180deg, $purple_1, rgb(41, 40, 40));    
}
.mainsection{
    border-radius: 20px;
    position: relative;
    top: -60px;
    background-color: $white_1;
    padding:30px;
    margin: 30px;
}
html {
  font-size: 18px;
  background-image: url("../images/beige-paper.png");  
}
section {
  display: flex;
  flex-direction: column;
}
.posts{
  background-color: $gray_1;
  border-color: gray;
  border-style: double;
}
.postitem{
  
}
a {
  text-decoration: none;
  color: $blue_1;
}
body{
  //position: relative;
}
.mainbody{
  border-radius: 20px;
  background-color: gray;
  max-width: 1290px;
  margin: 0 auto;
  //z-index: 10;
  //position: absolute;
}
h1{
  color: white;
  text-shadow: -1px -1px 5px rgb(0, 230, 0), 1px -1px 5px rgb(0, 230, 0), -1px 1px 5px rgb(0, 230, 0), 1px 1px 5px rgb(0, 230, 0);
}

